<header class="header">
    <nav class="navbar">
        <a href="/" class="logo-container">
            <img src="/images/msubad_logo.jpg" alt="MSubAd Logo" class="logo">
            <p class="site-title">MSubAd</p>
        </a>
        <div class="decor-container">
            <div class="decor-window"></div>
            <div class="decor-window"></div>
            <div class="decor-window"></div>
            <div class="decor-window"></div>
        </div>
        <div class="mobile-decor-container">
            <div class="decor-window"></div>
            <div class="decor-window"></div>
            <div class="decor-window"></div>
            <div class="decor-window"></div>
        </div>
        <ul class="nav-menu">
            <li>
                <div>
                    <a href="/">
                        <img src="/images/kostyl.png" alt="MSubAd Logo" class="menu-logo">
                    </a>
                </div>

            </li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/spaces">Рекламные места</a></li>
            <li><a href="/cabinet" class="cabinet-link">Личный кабинет</a></li>
        </ul>
        <button class="menu-toggle">☰</button>
    </nav>
</header>