<header class="site-header">
<script src="/js/burger_animation.js"></script>
  <div class="container">
    <!-- Лого + бренд -->
    <div class="logo">
      <a href="/">
        <img src="/images/msubad_logo.jpg" alt="MSubAd Logo">
        <span class="brand">MSubAd</span>
      </a>
    </div>

    <!-- Навигация -->
    <nav class="nav-links">
      <a href="/account">Личный кабинет</a>
      <a href="/tickets">Билеты</a>
      <a href="/about">О нас</a>
    </nav>

    <!-- Бургер -->
    <div class="burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
