<div class="layout-footer footer-wrapper">
    <div class="footer-content" >
        <h4>MSubAd</h4>
        <p>Платформа для аренды рекламных мест в минском метро</p>
        <p>Email: info@msubad.by</p>
        <p>Телефон: +375 (29) 123-45-67</p>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 MSubAd. Все права защищены.</p>
    </div>
</div>
