<div class="layout-header header-wrapper">
    <nav class="navbar">
        <div class="logo-container">
            <a href="/" class="logo-link">
                <img src="/static/images/msubad_logo.jpg" alt="Logo" class="logo">
                <span class="site-title">MSubAd</span>
            </a>
        </div>

        <ul class="nav-menu">
            <li><a href="/catalog">Каталог мест</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/cabinet" class="cabinet-link">Личный кабинет</a></li>
        </ul>

        <button class="menu-toggle">☰</button>
    </nav>
</div>
